<!DOCTYPE html>
<html>
  <head>
   
  </head>
  <body>
    <h1>Welcome to rimli.sathi@gmail.com, <%= @user.username %></h1>
    <p>
      You have successfully signed up to example.com,
     your username is<%= @username %>
     </br>
    </p>
    <p>
      To login follow the given link: <%= @url %>.
    </p>
    <p>thanks!</p>
  </body>
</html>
